@model GeoCodingTest.Models.L1.mWGE

<body onload="onload();">
    <div class="row">
        <div class="col-sm-12">

            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">ค้นหาเก็บเงิน</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>

                @if (Model != null && Model.ListReceive != null && Model.ListReceive.Count > 0)
                {
                    <div class="box-footer table-responsive no-padding">

                        <table id="odgvData" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                            <thead>
                                <tr role="row">
                                    <th>เลขที่บิล</th>
                                    <th>รหัสลูกค้า</th>
                                    <th>ชื่อลูกค้า</th>
                                    <th>วันที่</th>
                                    <th>เลือก</th>
                                    <th>ธนาคาร/สาขา/เลขเช็ค/วันที่เช็ค</th>
                                    <th>หมายเหตุ</th>
                                    <th>ยอดรวม(บาท)</th>
                                    <th>ผู้บันทึก</th>
                                    <th>วันที่บันทึก</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.ListReceive != null && Model.ListReceive.Count > 0)
                                {
                                    foreach (var oItem in Model.ListReceive)
                                    {
                                        if (Session["Name"].ToString() != "")
                                        {
                                            decimal a = oItem.Total ?? 0;
                                            //var b = Math.Round(a,2);
                                            var b = string.Format("{0:n}", Math.Round(a, 2));

                                            string c = oItem.DateBill.Value.ToString("dd/MM/yyyy");
                                            string d = oItem.SubmitDate.Value.ToString("dd/MM/yyyy");

                                            string e = "";

                                            switch (oItem.TypeID)
                                            {
                                                case "1":
                                                    e = "เงินสด";
                                                    break;
                                                case "2":
                                                    e = "เช็ค";
                                                    break;
                                                case "3":
                                                    e = "โอนเงิน";
                                                    break;
                                                case "4":
                                                    e = "บิลไม่ครบ";
                                                    break;
                                                case "5":
                                                    e = "อื่นๆ ระบุ";
                                                    break;
                                            }

                                            <tr>
                                                <td>@oItem.InvNo</td>
                                                <td>@oItem.CardCode</td>
                                                <td>@oItem.CardName</td>
                                                <td>@c</td>
                                                <td>@e</td>
                                                <td>@oItem.Detail</td>
                                                <td>@oItem.Remark</td>
                                                <td>@b</td>
                                                <td>@oItem.Name</td>
                                                <td>@d</td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
    </div>
</body>

@section scripts{

    <link rel="stylesheet" href="~/Content/adminlte/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <script type="text/javascript" src="~/Content/adminlte/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Content/adminlte/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

    @*Gridview*@
    <script type="text/javascript">
        $(document).ready(function () {
            $('#odgvData').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': false,
                'info': true,
                'autoWidth': true,
                language: {
                    "zeroRecords": "ไม่มีข้อมูล"
                },
                "iDisplayLength": 25
            });

            $('#Paginator').on('click', 'a', function (even) {

                var tPage = this.search;

                if (tPage == "")
                    return false;

                tPage = tPage.replace("?", "");
                tPage = tPage.split("&")[0].replace("page=", "");
                $("#Page").val(tPage);
                $("#obtnSearch").click();

                //var radioValue = $("input[name='XVScanType']:checked").val();
                //pmdoData = {
                //    XVScanType: radioValue,
                //    XVSearch: $("#XVSearch").val(),
                //}

                //$.ajax({
                //    url: this.href,
                //    type: 'POST',
                //    data: pmdoData,
                //    cache: false,
                //    async: true,
                //    error: function (jqXHR, error, errorThrown) {
                //        //display error
                //    },
                //    success: function (data, textStatus, jqXHR) {
                //        $("body").html(data);
                //    }
                //});
                return false;
            });
        });
    </script>
}

